{
  "name": "Panopticon {{FEATURE_FOLDER}}",
  "dockerComposeFile": [
    "docker-compose.devcontainer.yml"
  ],
  "service": "dev",
  "workspaceFolder": "/workspaces/panopticon",
  "postCreateCommand": "bun install",
  "customizations": {
    "vscode": {
      "settings": {
        "terminal.integrated.defaultProfile.linux": "bash"
      },
      "extensions": [
        "dbaeumer.vscode-eslint",
        "esbenp.prettier-vscode",
        "bradlc.vscode-tailwindcss"
      ]
    }
  }
}
